/* Write your CSS here */
.container {
  background-image: linear-gradient(#fff1eb, #ace0f9);
  min-height: 100vh;
  min-width: 500px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Bree Serif';
  font-size: 60px;
  font-weight: 700;
  color: #1e293b;
}
.search-container {
  height: 45px;
  width: 300px;
  border: 1px solid #7b8794;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input {
  height: 45px;
  width: 300px;
  border: none;
  background-color: transparent;
  padding: 15px;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 600;
  color: #7b8794;
  outline: none;
}
.search-image {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}
.tabs-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.apps-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .container {
    min-width: 1000px;
  }
  .heading {
    font-size: 50px;
  }
  .search-container {
    width: 520px;
  }
  .input {
    width: 520px;
    font-size: 18px;
    font-weight: 500;
  }
  .apps-container {
    max-width: 900px;
  }
}
